

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h4 class="modal-title"><i class="icon-pencil font-dark"></i>&nbsp;<label id="titleModal" type="text" name="TitleModal" /> </h4>
    <div class="caption font-sm">
    </div>
</div>
        
<form action="#" id="form_sample_2">
    <div class="form-body">
        <div class="modal-body">

            <div class="portlet light bordered">
                <div class="portlet-body">

                    <table id="ctr" class="dt-responsive" width="100%" hidden>
                        <tbody>
                            <tr>
                                <td>

                                    <div class="m-grid m-grid-responsive-xs m-grid-demo">
                                        <div class="m-grid-row">
                                            <div class="m-grid-col m-grid-col-middle m-grid-col-left m-grid-col-md-2 border-top border-left border-right border-bottom padding-left" style="background-color:white">
                                                <img alt="" class="img-responsive" src="~/Theme/assets/layouts/layout4/img/png.jpg" /><br>
                                                <textarea class="form-control" readonly disabled rows="4" id="addr" placeholder="Address"></textarea>                                                
                                            </div>
                                            <div class="m-grid-col m-grid-col-top m-grid-col-center m-grid-col-md-3 border-top border-left border-right border-bottom padding-top padding-bottom"><h3>Invoice : Security Deposit</h3><hr /><b>No. : INV-SEC-710-<label id="invNo" class="bold"></label></b></div>

                                            <div class="m-grid-col m-grid-col-top m-grid-col-left m-grid-col-md-2 border-top border-left border-right border-bottom padding-top padding-left  padding-bottom">
                                                <h3><b>PRE-INVOICE</b></h3>Security Deposit<hr />
                                                <div class="form-group form-md-line-input">
                                                    <input type="text" class="form-control date-picker" id="cInvDate" name="name" placeholder="dd-MMM-yyyy" data-date-format="dd-M-yyyy">
													<label for="form_control_1"><b>Invoice Date</b></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <br />
                                    <div class="m-grid m-grid-responsive-md m-grid-demo">
                                        <div class="m-grid-row ">

                                            <div class="m-grid-col m-grid-col-middle m-grid-col-left m-grid-col-md-1 border-top border-left border-right border-bottom">

                                                <div class="m-grid m-grid-responsive-md m-grid-demo">

                                                    <div class="m-grid-row">
                                                        <div class="m-grid-col m-grid-col-top m-grid-col-left m-grid-col-md-2 border-right padding-left padding-right padding-top">
                                                            <div class="form-group form-md-line-input">
                                                                <input type="text" readonly disabled class="form-control" id="c21" placeholder="Client" value="">
                                                                <textarea class="form-control" readonly disabled rows="3" id="c22" placeholder="Address"></textarea>
                                                                <input type="text" readonly disabled class="form-control static-info col-sm-3" id="c221" placeholder="City">
                                                                <input type="text" readonly disabled class="form-control static-info col-sm-3" id="c222" placeholder="Zip Code">
                                                                <br />
                                                                <input type="text" readonly disabled class="form-control" id="c23" placeholder="-" value="">
                                                                <label for="form_control_1"><i>To :</i></label>
                                                            </div>

                                                        </div>

                                                        <div class="m-grid-col m-grid-col-top m-grid-col-left m-grid-col-md-1 border-left border-right padding-left padding-right padding-top">
                                                            <div class="form-group form-md-line-input">
                                                                <input type="text" readonly disabled class="form-control" id="cSuite" placeholder="-" value="">
                                                                <label for="form_control_1"><i>Suite No. :</i></label>
                                                            </div>
                                                            <div class="form-group form-md-line-input">
                                                                <select class="form-control" id="ddlCtr" onchange="loadCTR(this.value);"></select>
                                                                <input type="text" readonly disabled class="form-control" id="cCtr" placeholder="-" value="">
                                                                <label for="form_control_1"><b>Contract No.:</b></label>
                                                            </div>
                                                            <div class="form-group form-md-line-input">
                                                                <label for="form_control_1">Rental/Service Period :</label>
                                                            </div>

                                                        </div>

                                                        <div class="m-grid-col m-grid-col-top m-grid-col-left m-grid-col-md-2 border-left padding-left padding-right padding-top">
                                                            <div class="form-group form-md-line-input">
                                                                <input type="text" readonly disabled class="form-control" id="cid" placeholder="-" value="">
                                                                <label for="form_control_1"><i>CID :</i></label>
                                                            </div>
                                                            <div class="form-group form-md-line-input">
                                                                <input type="text" class="form-control" id="cMemo" placeholder="-" value="">
                                                                <label for="form_control_1"><b>Memorandum No.</b></label>
                                                            </div>
                                                            <div class="form-group form-md-line-input">
                                                                <input type="text" class="form-control date-picker" readonly disabled id="cFrom" name="name" placeholder="dd-MMM-yyyy" data-date-format="dd-M-yyyy">
                                                                <label for="form_control_1"><i>From</i></label>
                                                            </div>

                                                        </div>

                                                        <div class="m-grid-col m-grid-col-top m-grid-col-left m-grid-col-md-2 border-left padding-left padding-right padding-top">
                                                            <div class="form-group form-md-line-input">
                                                                <input type="text" class="form-control date-picker" id="cPayDue" name="name" placeholder="dd-MMM-yyyy" data-date-format="dd-M-yyyy">
                                                                <label for="form_control_1"><b>Payment Due :</b></label>
                                                            </div>
                                                            <div class="form-group form-md-line-input">
                                                                <input type="text" class="form-control" id="cOther" placeholder="-" value="">
                                                                <label for="form_control_1"><b>Others</b></label>
                                                            </div>
                                                            <div class="form-group form-md-line-input">
                                                                <input type="text" class="form-control date-picker" readonly disabled id="cTo" name="name" placeholder="dd-MMM-yyyy" data-date-format="dd-M-yyyy">
                                                                <label for="form_control_1"><i>To</i></label>
                                                            </div>

                                                        </div>

                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>


                                    <br />
                                    <div class="m-grid m-grid-responsive-md m-grid-demo">
                                        <div class="m-grid-row">
                                            <div class="m-grid-col m-grid-col-top m-grid-col-left m-grid-col-md-3 border-top border-left border-bottom padding-left padding-right">

                                                <div class="form-group form-md-line-input">
                                                    <label for="form_control_1"><b>Description</b></label>
                                                    <div class="form-control form-control-static f1">Rental Deposit</div>
                                                    <div class="form-control form-control-static f2">Rental Service Charge Deposit</div>
                                                    @*<div class="form-control form-control-static f3">Car, Reserved</div>
                                                    <div class="form-control form-control-static f4">Car-Un-Reserved</div>
                                                    <div class="form-control form-control-static f5">Motorbike</div>*@
                                                    <div class="form-control form-control-static f6">Telephone Deposit</div>
                                                </div>

                                            </div>
                                            <div class="m-grid-col m-grid-col-top m-grid-col-left m-grid-col-md-1 border-top border-left border-bottom padding-left padding-right">

                                                <div class="form-group form-md-line-input">
                                                    <label for="form_control_1"><b>Quantity</b></label>
                                                    <input type="text" class="form-control" id="c71" readonly disabled placeholder="0" value="">
                                                    <input type="text" class="form-control" id="c72" readonly disabled placeholder="0" value="">
                                                    @*<input type="text" class="form-control" id="c81" readonly disabled placeholder="0" value="">
                                                    <input type="text" class="form-control" id="c82" readonly disabled placeholder="0" value="">
                                                    <input type="text" class="form-control" id="c83" readonly disabled placeholder="0" value="">*@
                                                    <input type="text" class="form-control" id="c9" readonly disabled placeholder="0" value="">

                                                </div>

                                            </div>
                                            <div class="m-grid-col m-grid-col-top m-grid-col-left m-grid-col-md-2 border-top border-left border-bottom padding-left padding-right">

                                                <div class="form-group form-md-line-input">
                                                    <label for="form_control_1"><b>Unit Price</b></label>
                                                    <input type="text" class="form-control" id="c711" readonly disabled placeholder="0" value="">
                                                    <input type="text" class="form-control" id="c721" readonly disabled placeholder="0" value="">
                                                    @*<input type="text" class="form-control" id="c811" readonly disabled placeholder="0" value="">
                                                    <input type="text" class="form-control" id="c821" readonly disabled placeholder="0" value="">
                                                    <input type="text" class="form-control" id="c831" readonly disabled placeholder="0" value="">*@
                                                    <input type="text" class="form-control" id="c91" readonly disabled placeholder="0" value="">

                                                </div>
                                            </div>

                                            <div class="m-grid-col m-grid-col-top m-grid-col-left m-grid-col-md-1 border-top border-left border-bottom padding-left padding-right">
                                                <div class="form-group form-md-line-input">
                                                    <label for="form_control_1"><b>Unit</b></label>
                                                    <div class="form-control form-control-static">PSPM</div>
                                                    <div class="form-control form-control-static">PSPM</div>
                                                    @*<div class="form-control form-control-static">Per Year</div>
                                                    <div class="form-control form-control-static">Per Year</div>
                                                    <div class="form-control form-control-static">Per Month</div>*@
                                                    <div class="form-control form-control-static">Per Line</div>
                                                </div>

                                            </div>

                                            <div class="m-grid-col m-grid-col-top m-grid-col-left m-grid-col-md-1 border-top border-left border-bottom padding-left padding-right">

                                                <div class="form-group form-md-line-input">
                                                    <label for="form_control_1"><b>Duration  (Mos)</b></label>
                                                    <input type="text" class="form-control" id="c712" readonly disabled placeholder="0" value="">
                                                    <input type="text" class="form-control" id="c722" readonly disabled placeholder="0" value="">
                                                    @*<input type="text" class="form-control" id="c812" readonly disabled placeholder="0" value="">
                                                    <input type="text" class="form-control" id="c822" readonly disabled placeholder="0" value="">
                                                    <input type="text" class="form-control" id="c832" readonly disabled placeholder="0" value="">*@
                                                    <input type="text" class="form-control" id="c92" readonly disabled placeholder="0" value="">
                                                </div>
                                            </div>
                                            <div class="m-grid-col m-grid-col-top m-grid-col-left m-grid-col-md-2 border-top border-left border-right border-bottom padding-left padding-right">
                                                <div class="form-group form-md-line-input">
                                                    <label for="form_control_1"><b>Amount  (IDR)</b></label>
                                                    <input type="text" class="form-control" id="c713" readonly disabled placeholder="0" value="">
                                                    <input type="text" class="form-control" id="c723" readonly disabled placeholder="0" value="">
                                                    @*<input type="text" class="form-control" id="c813" readonly disabled placeholder="0" value="">
                                                    <input type="text" class="form-control" id="c823" readonly disabled placeholder="0" value="">
                                                    <input type="text" class="form-control" id="c833" readonly disabled placeholder="0" value="">*@
                                                    <input type="text" class="form-control" id="c93" readonly disabled placeholder="0" value="">
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                                                   
                                    <br />
                                    <div class="m-grid m-grid-responsive-md m-grid-demo">
                                        <div class="m-grid-row">
                                            <div class="m-grid-col m-grid-col-top m-grid-col-left m-grid-col-md-4 border-top border-left border-right border-bottom padding-left padding-right">
                                                <div class="form-group form-md-line-input">
                                                    <table style="border-color:#F3F4F6" width="100%">
                                                        <tr class="border-bottom ">
                                                            <td colspan="3">Please make Payment by Direct Telegraphic Transfer to :</td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="3">&nbsp;</td>
                                                        </tr>
                                                        <tr>
                                                            <td width="100px">Bank&nbsp;</td>
                                                            <td width="5px">:</td>
                                                            <td>&nbsp;<label id="bank" class="bold"></label></td>
                                                        </tr>
                                                        <tr>
                                                            <td width="100px">Beneficiary&nbsp;</td>
                                                            <td width="5px">:</td>
                                                            <td>&nbsp;<label id="beneficiary" class="bold"></label></td>
                                                        </tr>
                                                        <tr>
                                                            <td width="100px">Account No.&nbsp;</td>
                                                            <td width="5px">:</td>
                                                            <td>&nbsp;<label id="accNo" class="bold"></label></td>
                                                        </tr>
                                                    </table>
                                                
                                                    <table style="border-color:#F3F4F6" width="100%" >
                                                        <tr>
                                                            <td colspan="2">&nbsp;</td>
                                                        </tr>
                                                        <tr class="border-bottom ">
                                                            <td colspan="2"><b>Terms of Payment :</b></td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="2">&nbsp;</td>
                                                        </tr>
                                                        <tr>
                                                            <td width="30px" valign="top">1.&nbsp;</td>
                                                            <td>Please make payment by Direct Telegraphic Transfer to Bank Account shown in this Invoice.</td>
                                                        </tr>
                                                        <tr>
                                                            <td width="30px" valign="top">2.&nbsp;</td>
                                                            <td>All payments are considered PAID only with proof of bank transfer and the payment has been received in our account.</td>
                                                        </tr>
                                                        <tr>
                                                            <td width="30px" valign="top">3.&nbsp;</td>
                                                            <td>This Security Deposit shall be paid as follows :</td>
                                                        </tr>
                                                        <tr>
                                                            <td width="30px" valign="top">&nbsp;</td>
                                                            <td>&nbsp;                                       
                                                                <div class="m-grid m-grid-responsive-md m-grid-demo">
                                                                    <div class="m-grid-row">
                                                                        <div class="m-grid-col m-grid-col-top m-grid-col-left m-grid-col-md-1 border-top border-bottom padding-left padding-right">
                                                                            <div class="form-group form-md-line-input">
                                                                                <label for="form_control_1"><b>No.</b></label>
                                                                                <div class="form-control form-control-static">1</div>
                                                                                <div class="form-control form-control-static">2</div>
                                                                                <div class="form-control form-control-static">3</div>
                                                                                <div class="form-control form-control-static">4</div>
                                                                                <div class="form-control form-control-static">5</div>                                                                               
                                                                            </div>
                                                                        </div>
                                                                        <div class="m-grid-col m-grid-col-top m-grid-col-left m-grid-col-md-2 border-top border-left border-bottom padding-left padding-right">

                                                                            <div class="form-group form-md-line-input">
                                                                                <label for="form_control_1"><b>Due Date of Payment</b></label>
                                                                                <input type="text" class="form-control date-picker" id="cD1" readonly disabled placeholder="dd-MMM-yyyy" data-date-format="dd-M-yyyy">
                                                                                <input type="text" class="form-control date-picker" id="cD2" readonly disabled placeholder="dd-MMM-yyyy" data-date-format="dd-M-yyyy">
                                                                                <input type="text" class="form-control date-picker" id="cD3" readonly disabled placeholder="dd-MMM-yyyy" data-date-format="dd-M-yyyy">
                                                                                <input type="text" class="form-control date-picker" id="cD4" readonly disabled placeholder="dd-MMM-yyyy" data-date-format="dd-M-yyyy">
                                                                                <input type="text" class="form-control date-picker" id="cD5" readonly disabled placeholder="dd-MMM-yyyy" data-date-format="dd-M-yyyy">
                                                                                <div class="form-control form-control-static"><b>SUB TOTAL</b></div>
                                                                            </div>
                                                                        </div>

                                                                        <div class="m-grid-col m-grid-col-top m-grid-col-left m-grid-col-md-4 border-top border-left border-bottom padding-left padding-right">
                                                                            <div class="form-group form-md-line-input">
                                                                                <label for="form_control_1"><b>Amount</b></label>
                                                                                <input type="text" class="form-control" id="cP1" readonly disabled placeholder="0" value="">
                                                                                <input type="text" class="form-control" id="cP2" readonly disabled placeholder="0" value="">
                                                                                <input type="text" class="form-control" id="cP3" readonly disabled placeholder="0" value="">
                                                                                <input type="text" class="form-control" id="cP4" readonly disabled placeholder="0" value="">
                                                                                <input type="text" class="form-control" id="cP5" readonly disabled placeholder="0" value="">
                                                                                <input type="text" class="form-control bold" id="cPSubTotal" readonly disabled placeholder="0" value="">
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                </div>

                                                            </td>
                                                        </tr>

                                                       
                                                    </table>
                                                </div>
                                                </div>


                                            <div class="m-grid-col m-grid-col-top m-grid-col-left m-grid-col-md-3 border-top border-bottom border-right padding-left padding-right">
                                                <div class="form-group form-md-line-input">
                                                    <table style="border-color:#F3F4F6" width="100%" >
                                                        <tr>
                                                            <td align="right">SUB TOTAL :&nbsp;</td>
                                                            <td width="160px" align="right">&nbsp;<h3><label id="totalPayment" class="bold"></label></h3></td>
                                                        </tr>
                                                        <tr>
                                                            <td align="right"><label id="invTax"></label> % PPN (VAT) :&nbsp;</td>
                                                            <td width="160px" align="right">&nbsp;<h3><label id="ppnAmount" class="bold"></label></h3></td>
                                                        </tr>
                                                        <tr class="border-bottom">
                                                            <td align="right">Materai :&nbsp;</td>
                                                            <td width="160px" align="right">&nbsp;<h3><label id="materaiAmount" class="bold"></label></h3></td>
                                                        </tr>                                                       
                                                        <tr>
                                                            <td align="right"><b>GRAND TOTAL</b> :&nbsp;</td>
                                                            <td width="160px" align="right">&nbsp;<h3><label id="grandTotal" class="bold"></label></h3></td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>                                         

                                        </div>
                                    </div>

                                                                      
                                </td>
                            </tr>                                                    

                        </tbody>
                    </table>
                  
                </div>
            </div>
        </div>


            <div class="modal-footer">
                <label hidden id="preInvNo"></label>   
                <label hidden id="clientId"></label>
                <label hidden id="clientIssue"></label>
                <label hidden id="currentDate">@DateTime.Now.ToString("dd-MMM-yyyy")</label>             
                <label hidden id="ctrId"></label>
                <label hidden id="looId"></label>
                <label hidden id="looIssue"></label>
                <label hidden id="hdnMaterai"></label>  
                <label hidden id="hdnInvTax"></label>                  
                <label hidden id="cfreeTax"></label>
                
                <button id="submit" type="submit" value="Save" class="btn green-soft">
                <i class="fa fa-check"></i> Submit
                </button>
                <button type="button" data-dismiss="modal" class="btn dark btn-outline"><i class="fa fa-close"></i> Cancel</button>

            </div>
        </div>

</form>

<script src="~/Theme/assets/pages/scripts/components-date-time-pickers.min.js" type="text/javascript"></script>
<script src="~/Theme/assets/pages/scripts/form-validation-md.min.js" type="text/javascript"></script>


<script type="text/javascript">


    function formatDisplay(value) {
        if (value !== '') {
            return value.substr(0, 4) + '-' + value.substr(4, 4);
        }
    }

    function formatCurrency(total) {
        var neg = false;
        if (total < 0) {
            neg = true;
            total = Math.abs(total);
        }
        var cur = (neg ? "-" : '') + parseFloat(total, 10).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString();
        return cur.substr(0, cur.length - 3);
    }

    function parseToNum(total) {
        return Number(total.toString().replace(/[^0-9\.]+/g, ""));
    }

    function parseJsonDate(jsonDate) {
        var fullDate = new Date(parseInt(jsonDate.substr(6)));
        var twoDigitMonth = (fullDate.getMonth() + 1) + ""; if (twoDigitMonth.length == 1) twoDigitMonth = "0" + twoDigitMonth;

        var monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];

        var twoDigitDate = fullDate.getDate() + ""; if (twoDigitDate.length == 1) twoDigitDate = "0" + twoDigitDate;
        var currentDate = twoDigitDate + "-" + monthNames[fullDate.getMonth()] + "-" + fullDate.getFullYear();
        return currentDate;
    };


    var FormInputMask = function () {
        var handleInputMasks = function () {
            $('#c71,#c72').inputmask('Regex', { regex: "^[0-9]{1,9}(\\.\\d{1,2})?$" });
            $('#c712,#c722,#c9,#c92').inputmask('Regex', { regex: "^[0-9]{1,9}?$" });
            //#c81,#c812,#c82,#c822,#c83,#c82
        }
        return {
            //main function to initiate the module
            init: function () {
                handleInputMasks();
            }
        };
    }();
       

    function setTotalAmount(selectedId) {
        var id = '#' + $(selectedId).attr('id');
        if (id == '#undefined') {
            if (selectedId.substr(0, 1) !== '#')
                id = '#' + selectedId;
            else
                id = selectedId;
        }

        var idLabel = '';
        if (id.substr(0, 3) == '#c9')
            idLabel = id.substr(0, 3);
        else
            idLabel = id.substr(0, 4);

        var i = parseToNum($(idLabel).val())
        var i1 = parseToNum($(idLabel + '1').val());
        var i2 = parseToNum($(idLabel + '2').val());

        if ((i == 'isNan') || (i == ''))
            i = 0;
        if ((i1 == 'isNan') || (i1 == ''))
            i1 = 0;
        if ((i2 == 'isNan') || (i2 == ''))
            i2 = 0;
        $(idLabel + '3').val(formatCurrency(i * i1 * i2));
    }


    function viewtotalDeposit(){
        try {
            setTotalDepositAmount();
        }
        catch (err) { }      

        //reset property value
        $('#cD1').val(""); $('#cD2').val(""); $('#cD3').val(""); $('#cD4').val(""); $('#cD5').val("");
        $('#cP1').val(""); $('#cP2').val(""); $('#cP3').val(""); $('#cP4').val(""); $('#cP5').val("");
        //retrieve LOO payment
        $.ajax({
            url: "/LetterOfOffer/GetLooPayments",
            data: { looIssue: $('#looIssue').text(), looId: $('#looId').text() },
            type: 'Get',
            contentType: 'application/json',
            cache: false,
            success: function (data) {
                $.each(data, function (i, item) {
                    var seqId = i + 1;
                    $('#cD' + seqId).val(parseJsonDate(item.DueDate));
                    $('#cP' + seqId).val(formatCurrency(item.Amount));
                });
            },
            complete: function () {
                $('#cPSubTotal').val(formatCurrency(parseToNum($('#cP1').val()) + parseToNum($('#cP2').val()) + parseToNum($('#cP3').val()) + parseToNum($('#cP4').val()) + parseToNum($('#cP5').val())));
             },
            error: function (msg) {
                alert("something on LOO Payments seems wrong");
            }
        });
    }


    function loadCTR(selectedId) {
        $('#ctrId').text(selectedId);

        if (selectedId.length == 8) {
            $.ajax({
                url: "/LeaseAgreement/GetCtr",
                data: { ctrId: selectedId },
                type: 'Get',
                contentType: 'application/json',
                cache: false,
                success: function (data) {                  
                    $.each(data, function (i, item) {
                            if (i == 'PreInvId') {
                                $('#preInvNo').text(item);
                                $('#invNo').text(formatDisplay(item));
                            }
                            if (i == 'PreInvDate')
                                $('#cInvDate').val(parseJsonDate(item));
                            if (i == 'PreInvDueDate')
                                $('#cPayDue').val(parseJsonDate(item));
                            if (i == 'PreInvMemoNo')
                                $('#cMemo').val(item);
                            if (i == 'PreInvOther')
                                $('#cOther').val(item);
                            if (i == 'LooId')
                                $('#looId').text(item);
                            if (i == 'LooIssue')
                                $('#looIssue').text(item);
                            if (i == 'ClientId')
                                $('#clientId').text(item);
                            if (i == 'ClientIssue')
                                $('#clientIssue').text(item);
                            if (i == 'Cid')
                                $('#cid').val(item);
                            if (i == 'SuiteName')
                                $('#cSuite').val(item);
                            if (i == 'Area') {
                                $('#c71').val(item);
                                $('#c72').val(item);
                            }
                            if (i == 'CompanyName')
                                $('#c21').val(item);
                            if (i == 'CompanyAddress')
                                $('#c22').val(item);
                            if (i == 'City')
                                $('#c221').val(item);
                            if (i == 'ZipCode')
                                $('#c222').val(item);
                            if (i == 'Name')
                                $('#c23').val(item);
                           
                            if (i == 'RentCommencementDate')
                                $('#cFrom').val(parseJsonDate(item));
                            if (i == 'LeaseExpiryDate')
                                $('#cTo').val(parseJsonDate(item));

                            if (i == 'SecurityUnitPrice')
                                $('#c711').val(formatCurrency(item));
                            if (i == 'ServiceChargeUnitPrice')
                                $('#c721').val(formatCurrency(item));
                            if (i == 'SecurityDepositDuration') {
                                $('#c712').val(item);
                                setTotalAmount('#c712');
                            }
                            if (i == 'ServiceChargeDepositDuration') {
                                $('#c722').val(item);
                                setTotalAmount('#c722');
                            }

                            //if (i == 'ParkCarReservedQty')
                            //    $('#c81').val(item);
                            //if (i == 'ParkCarReservedPerUnitPrice')
                            //    $('#c811').val(formatCurrency(item));
                            //if (i == 'ParkCarReservedDuration') {
                            //    $('#c812').val(item);
                            //    setTotalAmount('#c812');
                            //}
                            //if (i == 'ParkCarUnreservedQty')
                            //    $('#c82').val(item);
                            //if (i == 'ParkCarUnreservedUnitPrice')
                            //    $('#c821').val(formatCurrency(item));
                            //if (i == 'ParkCarUnreservedDuration') {
                            //    $('#c822').val(item);
                            //    setTotalAmount('#c822');
                            //}
                            //if (i == 'ParkMotorbikeQty')
                            //    $('#c83').val(item);
                            //if (i == 'ParkMotorbikeUnitPrice')
                            //    $('#c831').val(formatCurrency(item));
                            //if (i == 'ParkMotorbikeDuration') {
                            //    $('#c832').val(item);
                            //    setTotalAmount('#c832');
                            //}

                            if (i == 'TelephoneDepositQty')
                                $('#c9').val(item);
                            if (i == 'TelephoneDepositUnitPrice')
                                $('#c91').val(formatCurrency(item));
                            if (i == 'TelephoneDepositDuration') {
                                $('#c92').val(item);
                                setTotalAmount('#c92');
                            }
                            if (i == 'FreeTax')
                                $('#cfreeTax').text(item);
                        });
                   
                },
                complete: function () {
                    $('#cPSubTotal').val("");
                    $('#materaiAmount').text($('#hdnMaterai').text());
                    $('#invTax').text($('#hdnInvTax').text());

                    if ($('#cfreeTax').text() == '1')
                        $('#invTax').text("0");

                    viewtotalDeposit();
                  },
                error: function (msg) {
                    alert("something on CTR seems wrong");
                }
            });
           
        }
        else {
            $('#ctrNo').text(formatDisplay("XXXXXXXX"));
            $('#clientId').text("");
            $('#clientIssue').text("");
            $('#ctrId').text("");
            $('#cCtr').val("");
            $('#invNo').text(formatDisplay("XXXXXXXX"));
            $('#preInvNo').text("");
            $('#cInvDate').val("");
            $('#cPayDue').val("");
            $('#cMemo').val("");
            $('#cOther').val("-");

            $('#cid').val("");
            $('#c21').val("");
            $('#c22').val("");
            $('#c221').val("");
            $('#c222').val("");
            $('#c23').val("");
            $('#floor').val("");
            $('#cSuite').val("");
            $('#cFrom').val("");
            $('#cTo').val("");
        
            $('#c71').val("");
            $('#c72').val("");
            $('#c711').val("");
            $('#c721').val("");
            $('#c712').val("");
            $('#c722').val("");
            //$('#c81').val("");
            //$('#c811').val("");
            //$('#c812').val("");
            //$('#c82').val("");
            //$('#c821').val("");
            //$('#c822').val("");
            //$('#c83').val("");
            //$('#c831').val("");
            //$('#c832').val("");
            $('#c9').val("");
            $('#c91').val("");
            $('#c92').val("");
            $('#c713').val("");
            $('#c723').val("");
            $('#c93').val("");
          
            $('#totalPayment').text("0");
            $('#ppnAmount').text("0");
            $('#materaiAmount').text("0");
            $('#grandTotal').text("0");

            $('#cD1').val("");
            $('#cD2').val("");
            $('#cD3').val("");
            $('#cD4').val("");
            $('#cD5').val("");

            $('#cP1').val("");
            $('#cP2').val("");
            $('#cP3').val("");
            $('#cP4').val("");
            $('#cP5').val("");
            $('#cPSubTotal').val("");

        }
    }


    function pad (str, max) {
        str = str.toString();
        return str.length < max ? pad(str + " ", max) : str;
    }

    // Calculate Total deposit
    function setTotalDepositAmount() {

        var i = parseToNum($('#c71').val());
        var i1 = parseToNum($('#c711').val());
        var i2 = parseToNum($('#c712').val());
        var i11 = parseToNum($('#c721').val());
        var i12 = parseToNum($('#c722').val());

        //var j = parseToNum($('#c81').val());
        //var j1 = parseToNum($('#c811').val());
        //var j2 = parseToNum($('#c812').val());
        //var k = parseToNum($('#c82').val());
        //var k1 = parseToNum($('#c821').val());
        //var k2 = parseToNum($('#c822').val());
        //var l = parseToNum($('#c83').val());
        //var l1 = parseToNum($('#c831').val());
        //var l2 = parseToNum($('#c832').val());

        var m = parseToNum($('#c9').val());
        var m1 = parseToNum($('#c91').val());
        var m2 = parseToNum($('#c92').val());

        if ((i == 'isNan') || (i == ''))
            i = 0;
        if ((i1 == 'isNan') || (i1 == ''))
            i1 = 0;
        if ((i2 == 'isNan') || (i2 == ''))
            i2 = 0;
        if ((i11 == 'isNan') || (i11 == ''))
            i11 = 0;
        if ((i12 == 'isNan') || (i12 == ''))
            i12 = 0;

        //if ((j == 'isNan') || (j == ''))
        //    j = 0;
        //if ((j1 == 'isNan') || (j1 == ''))
        //    j1 = 0;
        //if ((j2 == 'isNan') || (j2 == ''))
        //    j2 = 0;
        //if ((k == 'isNan') || (k == ''))
        //    k = 0;
        //if ((k1 == 'isNan') || (k1 == ''))
        //    k1 = 0;
        //if ((k2 == 'isNan') || (k2 == ''))
        //    k2 = 0;
        //if ((l == 'isNan') || (l == ''))
        //    l = 0;
        //if ((l1 == 'isNan') || (l1 == ''))
        //    l1 = 0;
        //if ((l2 == 'isNan') || (l2 == ''))
        //    l2 = 0;

        if ((m == 'isNan') || (m == ''))
            m = 0;
        if ((m1 == 'isNan') || (m1 == ''))
            m1 = 0;
        if ((m2 == 'isNan') || (m2 == ''))
            m2 = 0;
        $('#totalPayment').text(formatCurrency((i * i1 * i2) + (i * i11 * i12) + (m * m1 * m2)));
        //(j * j1 * j2) + (k * k1 * k2) + (l * l1 * l2) 
        $('#ppnAmount').text(formatCurrency(parseToNum(parseToNum($('#invTax').text()) * parseToNum($('#totalPayment').text()) / 100)));
        $('#grandTotal').text(formatCurrency(parseToNum($('#totalPayment').text()) + parseToNum($('#ppnAmount').text()) + parseToNum($('#materaiAmount').text())));

    }


    var id = 0;
    $(document).ready(function () {
        App.startPageLoading({ animate: true });

        FormInputMask.init();
        $('#ctr').show();
        $('#cInvDate').val($('#currentDate').text());
        $('#cPayDue').val($('#currentDate').text());     
        $('#invNo').text(formatDisplay("XXXXXXXX"));
        $('#preInvNo').text("");      
        $('#cOther').val("-");

        $('#hdnInvTax').text("0");
        $('#invTax').text("0");
        $('#totalPayment').text("0");
        $('#ppnAmount').text("0");
        $('#hdnMaterai').text("0");
        $('#materaiAmount').text("0");
        $('#grandTotal').text("0");
        $('#cfreeTax').text("0");

        $.ajax({
            url: "/LeaseAgreement/GetGlobalOption",
            type: 'Get',
            contentType: 'application/json',
            cache: false,
            success: function (data) {               
                $('#hdnInvTax').text(data.InvoiceTax*100);                
                $('#hdnMaterai').text(data.Materai);               
                $('#bank').text(data.InvoiceBank);
                $('#beneficiary').text(data.InvoiceBankName);
                $('#accNo').text(data.InvoiceBankAcc);
                $('#addr').text(data.Address);
               
            },
            complete: function () {
            },
            error: function (msg) {
                alert("something on load Global Option seems wrong");
            }
        });

        var selectedId = $('#tempId').text();
        if (selectedId.length == 8) {
            $('#cCtr').val("CTR-900-" + formatDisplay(selectedId));
            loadCTR(selectedId);
        }

        if ($('#title').text() == 'Add INV-SEC') {
            $('#cCtr').hide();
            $('#ddlCtr').show();
          
            // Load dll
            var ddl_loo = "<option value=" + 0 + ">-</option>";
            $.ajax({
                url: "/LeaseAgreement/GetAvailableCtr",
                type: 'Get',
                contentType: 'application/json',
                cache: false,
                success: function (data) {
                    $.each(data, function (i, item) {
                        ddl_loo += "<option value=" + item.CtrId + ">CTR-900-" + formatDisplay(item.CtrId) + "</option>";
                    });
                },
                complete: function () {
                    $("#ddlCtr").append(ddl_loo);
                },
                error: function (msg) {
                    alert("something on load Ctr list seems wrong");
                }
            });
            // end Load dll
        }
        else {
            $('#ddlCtr').hide();
            $('#cCtr').show();
        }

        App.stopPageLoading();
    });


   
    $("#submit").click(function () {

        if ($('#ctrId').text().trim() == '' || $('#ctrId').text().trim() == 'null') {
            bootbox.alert("Please select available CTR !");
            return;
        }

        if ($('#cInvDate').val().trim() == '') {
            $("#cInvDate").focus();
            return;
        }
        if ($('#cPayDue').val().trim() == '') {
            $("#cPayDue").focus();
            return;
        }
              
        App.startPageLoading({ animate: true });
             
        var model = {
            header: "INV-SEC",
            CtrId: $('#ctrId').text(),
            PreInvId:$('#preInvNo').text(),
            PreInvDate: $('#cInvDate').val(),
            PreInvDueDate: $('#cPayDue').val(),
            PreInvMemoNo: $('#cMemo').val(),
            PreInvOther:$('#cOther').val(),
            Status: "Pre-Invoiced"
        };
             
        $.ajax({
            type: "POST",
            data: JSON.stringify(model),
            url: "/LeaseAgreement/SaveCtr",
            contentType: "application/json"
        }).success(function (res) {                       
        }).done(function (res) {
            App.stopPageLoading();
            window.location.reload(true);
        });

    });
    
  

</script>